<%= link_to "â† Back to the list", restaurants_path %>

<h1 class="my-4"><%= @restaurant.name %></h1>

<div class="yelp-card">
  <p id="address">
    <span class="values">Address :</span><br>
    <em><%= @restaurant.address %></em>
  </p>
  <p id="category">
    <span class="values">Category :</span><br>
    <em><%= @restaurant.category %></em>
  </p>
  <p id="phone-number">
    <span class="values">Phone Number :</span><br>
    <em><%= @restaurant.phone_number %></em>
  </p>
</div>

<h3 class="my-4">Review</h3>
